.parent{
  background: #000;
  width: 500px;
  height: 500px;
  position: relative;
}
.child{
  display: block;
  background: #f00;
  width: 100px;
  height: 100px;
  top: 200px;
  position: absolute;
}
